<!DOCTYPE html>
<html lang="vi">
  <head>
    <title><%= title %></title>
    <%- include('partials/head') -%>
  </head>
  <body>
    <script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/owl.carousel.js?1472194204996' type='text/javascript'></script>
    <script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/jquery.magnific-popup.min.js?1472194204996' type='text/javascript'></script>
    <script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/jquery.elevatezoom.min.js?1472194204996' type='text/javascript'></script>
    <div id="page-wrapper">
       <!-- SITE HEADER-->
       <%- include('partials/header') -%>
       <!-- /SITE HEADER -->

       <!-- SITE CONTENT-->
    <div id="site-content">
        <div id="main">
          <h1 style="display:none;">Ranger theme</h1>
          <!-- SLIDE HOME -->
          <%- include('partials/home_slide') -%>
          <!-- /SLIDE HOME -->
          <%- include('partials/contact_info') -%>
          <%- include('partials/news_jobs') -%>
          <%- include('partials/activities') -%>
        </div>
    </div>
        <!-- /SITE CONTENT -->

        <!-- SITE FOOTER-->
        <%- include('partials/brand') -%>
        <%- include('partials/footer') -%>
        <!-- /SITE FOOTER-->
    </div>
        <%- include('partials/script_end') -%>
  </body>
</html>
