<!DOCTYPE html>
<html lang="vi">
  <head>
    <title> Tin tức </title>
    <%- include('partials/head') -%>
  </head>
  <body>
    <script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/owl.carousel.js?1472194204996' type='text/javascript'></script>
    <script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/jquery.magnific-popup.min.js?1472194204996' type='text/javascript'></script>
    <script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/jquery.elevatezoom.min.js?1472194204996' type='text/javascript'></script>
    <div id="page-wrapper">
       <!-- SITE HEADER-->
       <%- include('partials/header') -%>
       <!-- /SITE HEADER -->

       <!-- SITE CONTENT-->
    <div id="site-content">
        <div id="main">
          <!-- MAIN
==========================================================================================-->
<section class="page_title">
     <h1 class="text-center"> Tin tức </h1>
</section>
 <style>
     section.page_title {
         padding-top: 80px;
         padding-bottom: 80px;
         background: url("//bizweb.dktcdn.net/100/052/640/themes/134620/assets/bc_cart.jpg?1472194204996");
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         position: relative;
     }
 </style>
 <div class="header-breadcrumb">
     <div class="container">
         <div class="row ">
             <div class="col-xs-12">
                 <ol class="breadcrumb">
                     <li><a href="/" title="Trang chủ">Trang chủ </a> </li>
                     <li class="active breadcrumb-title">Tin tức</li>
                 </ol>
             </div>
         </div>
     </div>
 </div>

 <section class="mtb25">
     <div class="container">
         <div class="row">
             <div class="megamenu-right col-md-9 col-md-push-3">
                 <div class="row">
                     <section class="section-blog">
                         <div class="blog-item">
                             <div class="col-xs-12 blog_list_page_img">
                                 <div class="blog-img">
                                     <a href="/nhung-mau-ghe-nghi-da-nang-dang-mo-uoc-cho-dan-van-phong" title="Những mẫu ghế nghỉ đa năng đáng mơ ước"><img src="//bizweb.dktcdn.net/100/052/640/articles/3-min.jpg?v=1472197286263" alt="Những mẫu ghế nghỉ đa năng đáng mơ ước"></a>
                                 </div>
                             </div>
                             <div class="col-xs-12 blog_list_page_content">
                                 <h4 class="blog-name"><a href="/nhung-mau-ghe-nghi-da-nang-dang-mo-uoc-cho-dan-van-phong" title="Những mẫu ghế nghỉ đa năng đáng mơ ước">Những mẫu ghế nghỉ đa năng đáng mơ ước</a></h4>
                                 <p class="blog-info">1/25/2016 4:36:00 PM / Đăng bởi Avent Team / (2) Bình luận</p>
                                 <p class="blog-description">
                                     Những thiết kế ghế nghỉ đa năng này sẽ giúp dân văn phòng có nơi thư giãn, nạp năng lượng mà không ảnh hưởng đến mỹ quan công sở".  <a href="/nhung-mau-ghe-nghi-da-nang-dang-mo-uoc-cho-dan-van-phong">[Đọc tiếp]</a>
                                 </p>
                             </div>
                         </div>
                         <!--End. blog-item-->
                         <div class="blog-item">
                             <div class="col-xs-12 blog_list_page_img">
                                 <div class="blog-img">
                                     <a href="/4-thiet-ke-phong-ngu-hien-dai-dang-de-mo-uoc" title="4 thiết kế phòng ngủ hiện đại đáng để mơ ước"><img src="//bizweb.dktcdn.net/100/052/640/articles/4-min.jpg?v=1472197440257" alt="4 thiết kế phòng ngủ hiện đại đáng để mơ ước"></a>
                                 </div>
                             </div>
                             <div class="col-xs-12 blog_list_page_content">
                                 <h4 class="blog-name"><a href="/4-thiet-ke-phong-ngu-hien-dai-dang-de-mo-uoc" title="4 thiết kế phòng ngủ hiện đại đáng để mơ ước">4 thiết kế phòng ngủ hiện đại đáng để mơ ước</a></h4>
                                 <p class="blog-info">1/25/2016 4:28:00 PM / Đăng bởi Avent Team / (0) Bình luận</p>
                                 <p class="blog-description">
                                     Những thiết kế phòng ngủ năng động, hiện đại nhưng cũng không kém phần ấn tượng dưới đây có thể sẽ khiến bạn mê mẩn và ao ước có thể được ngủ trong căn phòng đó.  <a href="/4-thiet-ke-phong-ngu-hien-dai-dang-de-mo-uoc">[Đọc tiếp]</a>
                                 </p>
                             </div>
                         </div>
                         <!--End. blog-item-->
                         <div class="blog-item">
                             <div class="col-xs-12 blog_list_page_img">
                                 <div class="blog-img">
                                     <a href="/nhung-mon-do-noi-that-dep-den-khong-tuong" title="Những món đồ nội thất đẹp đến không tưởng"><img src="//bizweb.dktcdn.net/100/052/640/articles/1-min.jpg?v=1472197274157" alt="Những món đồ nội thất đẹp đến không tưởng"></a>
                                 </div>
                             </div>
                             <div class="col-xs-12 blog_list_page_content">
                                 <h4 class="blog-name"><a href="/nhung-mon-do-noi-that-dep-den-khong-tuong" title="Những món đồ nội thất đẹp đến không tưởng">Những món đồ nội thất đẹp đến không tưởng</a></h4>
                                 <p class="blog-info">1/25/2016 4:22:00 PM / Đăng bởi Avent Team / (0) Bình luận</p>
                                 <p class="blog-description">
                                     Chất liệu tre, trúc vốn được mặc định với sự giản dị, đơn sơ, truyền thống. Song, những thiết kế đồ nội thất từ tre trúc dưới đây sẽ mang đến cho bạn một không gian sống gần gũi nhưng cũng không kém phần sang trọng.  <a href="/nhung-mon-do-noi-that-dep-den-khong-tuong">[Đọc tiếp]</a>
                                 </p>
                             </div>
                         </div>
                         <!--End. blog-item-->

                         <div class="blog-item">
                             <div class="col-sm-6 blog_list_page_img">
                                 <div class="blog-img">
                                     <a href="/mau-thiet-ke-phong-ngu-cuc-ky-doc-dao-sang-tao" title="Mẫu thiết kế phòng ngủ cực kỳ độc đáo sáng tạo"><img src="//bizweb.dktcdn.net/100/052/640/articles/2-min.jpg?v=1472197259090" alt="Mẫu thiết kế phòng ngủ cực kỳ độc đáo sáng tạo"></a>

                                 </div>
                             </div>
                             <div class="col-sm-6 blog_list_page_content">
                                 <h4 class="blog-name"><a href="/mau-thiet-ke-phong-ngu-cuc-ky-doc-dao-sang-tao" title="Mẫu thiết kế phòng ngủ cực kỳ độc đáo sáng tạo">Mẫu thiết kế phòng ngủ cực kỳ độc đáo sáng tạo</a></h4>
                                 <p class="blog-info">1/25/2016 4:16:00 PM / Đăng bởi Avent Team / (0) Bình luận</p>
                                 <p class="blog-description">
                                     Với mỗi căn nhà hay căn hộ chung cư của bạn thì việc thiết kế nội thất chung cư để tạo nên vẻ đẹp thẩm mỹ, đặc biệt là bạn sẽ tạo nên vẻ độc đáo cho phòng ngủ của bạn như thế nào.  <a href="/mau-thiet-ke-phong-ngu-cuc-ky-doc-dao-sang-tao">[Đọc tiếp]</a>
                                 </p>
                             </div>
                         </div>
                         <!--End. blog-item-->
                         <div class="col-xs-12">
                             <div class="blog-info-page text-right">
                                 <ul class="pagination pagination-blog">
                                     <li class="active"><a href="">1</a></li>
                                     <li><a href="/tin-tuc?page=2">2</a></li>
                                     <li>
                                         <a href="/tin-tuc?page=2" aria-label="Next">
                                             <span aria-hidden="true">Trang cuối</span>
                                         </a>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                     </section>
                 </div>
             </div>
             <div class="megamenu-left col-md-3 col-md-pull-9">
                 <div class="cd-dropdown-wrapper">
                     <nav class="cd-dropdown dropdown-is-active">
                         <div class="dropdown-content-title"><i class="fa fa-bars"></i> Thông tin</div>
                         <ul class="cd-dropdown-content">
                             <li class="">
                                 <a href="/gioi-thieu" class="link_title_css blog_catalog_link">
                                     Giới thiệu công ty
                                 </a>
                             </li>
                             <li class="">
                                 <a href="/chinh-sach" class="link_title_css blog_catalog_link">
                                     Chính sách bảo hành
                                 </a>
                             </li>
                             <li class="">
                                 <a href="/dich-vu" class="link_title_css blog_catalog_link">
                                     Trung tâm tư vấn
                                 </a>
                             </li>
                             <li class="">
                                 <a href="/huong-dan" class="link_title_css blog_catalog_link">
                                     Câu hỏi thường gặp
                                 </a>
                             </li>
                             <li class="">
                                 <a href="/chinh-sach" class="link_title_css blog_catalog_link">
                                     Chính sách đổi trả
                                 </a>
                             </li>
                         </ul>
                         <!-- .cd-dropdown-content -->
                     </nav>
                     <!-- .cd-dropdown -->
                 </div>
                 <!-- .cd-dropdown-wrapper -->
                 <div class="widget-sidebar-item blog">
                     <h3 class="widget-sidebar-name">Tin tức mới nhất</h3>
                     <ul class="widget-sidebar-blog-list">
                         <li>
                             <div class="blog-item">
                                 <div class="blog-img col-md-4 pull-left blogleftimg no-padding-l">
                                     <div class="img_placeholder">
                                         <a href="/bo-doi-ke-sach-treo-truong-bang-go-sieu-dep-ban-co-chua" title="Best Seller 2015 - Bộ đôi kệ sách treo trường xinh xắn"><img src="//bizweb.dktcdn.net/thumb/medium/100/052/640/articles/fotojet-collage.jpg?v=1454053709057" alt="Best Seller 2015 - Bộ đôi kệ sách treo trường xinh xắn"></a>

                                     </div>
                                 </div>
                                 <div class="col-md-8 blogrightcontent no-padding-lr">
                                     <h4 class="blog-name"><a href="/bo-doi-ke-sach-treo-truong-bang-go-sieu-dep-ban-co-chua" title="Best Seller 2015 - Bộ đôi kệ sách treo trường xinh xắn">Best Seller 2015 - Bộ đôi kệ sách treo trường xinh xắn</a></h4>
                                     <p class="blog-info">1/29/2016 2:48:00 PM</p>
                                 </div>
                             </div>
                             <!-- End .blog-item -->
                         </li>
                         <li>
                             <div class="blog-item">
                                 <div class="blog-img col-md-4 pull-left blogleftimg no-padding-l">
                                     <div class="img_placeholder">
                                         <a href="/bo-ban-ghe-gan-lien-danh-cho-dan-ghien-cafe" title="Bộ bàn ghế gắn liền dành cho dân ghiền cafe"><img src="//bizweb.dktcdn.net/thumb/medium/100/052/640/articles/mr-serenity21.jpg?v=1454052665093" alt="Bộ bàn ghế gắn liền dành cho dân ghiền cafe"></a>

                                     </div>
                                 </div>
                                 <div class="col-md-8 blogrightcontent no-padding-lr">
                                     <h4 class="blog-name"><a href="/bo-ban-ghe-gan-lien-danh-cho-dan-ghien-cafe" title="Bộ bàn ghế gắn liền dành cho dân ghiền cafe">Bộ bàn ghế gắn liền dành cho dân ghiền cafe</a></h4>
                                     <p class="blog-info">1/29/2016 2:30:55 PM</p>
                                 </div>
                             </div>
                             <!-- End .blog-item -->
                         </li>
                         <li>
                             <div class="blog-item">
                                 <div class="blog-img col-md-4 pull-left blogleftimg no-padding-l">
                                     <div class="img_placeholder">
                                         <a href="/thiet-ke-ban-ghe-lam-viec-cuc-trong-suot-cua-dkt" title="Điểm lại những thiết kế nhìn là mê của DKT"><img src="//bizweb.dktcdn.net/thumb/medium/100/052/640/articles/slide02.jpg?v=1454052412970" alt="Điểm lại những thiết kế nhìn là mê của DKT"></a>

                                     </div>
                                 </div>
                                 <div class="col-md-8 blogrightcontent no-padding-lr">
                                     <h4 class="blog-name"><a href="/thiet-ke-ban-ghe-lam-viec-cuc-trong-suot-cua-dkt" title="Điểm lại những thiết kế nhìn là mê của DKT">Điểm lại những thiết kế nhìn là mê của DKT</a></h4>
                                     <p class="blog-info">1/29/2016 2:26:00 PM</p>
                                 </div>
                             </div>
                             <!-- End .blog-item -->
                         </li>
                         <li>
                             <div class="blog-item">
                                 <div class="blog-img col-md-4 pull-left blogleftimg no-padding-l">
                                     <div class="img_placeholder">
                                         <a href="/ghe-van-phong-2-trong-1-doc-dao" title="Ghế văn phòng 2 trong 1 độc đáo"><img src="//bizweb.dktcdn.net/thumb/medium/100/052/640/articles/cado-modern-furniture-arianne-modern-modular-sofa-fama-spain-exclusive-1.jpg?v=1454051951687" alt="Ghế văn phòng 2 trong 1 độc đáo"></a>

                                     </div>
                                 </div>
                                 <div class="col-md-8 blogrightcontent no-padding-lr">
                                     <h4 class="blog-name"><a href="/ghe-van-phong-2-trong-1-doc-dao" title="Ghế văn phòng 2 trong 1 độc đáo">Ghế văn phòng 2 trong 1 độc đáo</a></h4>
                                     <p class="blog-info">1/29/2016 2:19:00 PM</p>
                                 </div>
                             </div>
                             <!-- End .blog-item -->
                         </li>
                     </ul>
                 </div>
                 <div class="widget-sidebar-item">
                     <h3 class="widget-sidebar-name" title="Thẻ Tags">Thẻ Tags</h3>
                     <ul class="widget-sidebar-list products_tags blog_tags">
                         <li><a href='/tin-tuc/ban' title='ban'>Bàn</a></li>
                         <li><a href='/tin-tuc/ban-ghe' title='ban-ghe'>bàn ghế</a></li>
                         <li><a href='/tin-tuc/den' title='den'>Đèn</a></li>
                         <li><a href='/tin-tuc/ghe' title='ghe'>Ghế</a></li>
                         <li><a href='/tin-tuc/ghe-sofa' title='ghe-sofa'>Ghế Sofa</a></li>
                     </ul>
                 </div>
                 <div id="bw-statistics"></div>
             </div>
         </div>
     </div>
 </section>
<!-- =======================================================================================
          /MAIN -->
        </div>
    </div>
        <!-- /SITE CONTENT -->

        <!-- SITE FOOTER-->
        <%- include('partials/brand') -%>
        <%- include('partials/footer') -%>
        <!-- /SITE FOOTER-->
    </div>
        <%- include('partials/script_end') -%>
  </body>
</html>
