<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>404 Không tìm thấy trang  </title>
    <%- include('partials/head') -%>
  </head>
  <body>
    <script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/owl.carousel.js?1472194204996' type='text/javascript'></script>
    <script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/jquery.magnific-popup.min.js?1472194204996' type='text/javascript'></script>
    <script src='//bizweb.dktcdn.net/100/052/640/themes/134620/assets/jquery.elevatezoom.min.js?1472194204996' type='text/javascript'></script>
    <div id="page-wrapper">
       <!-- SITE HEADER-->
       <%- include('partials/header') -%>
       <!-- /SITE HEADER -->
       <!-- SITE CONTENT-->
    <div id="site-content">
        <div id="main">
          <!-- MAIN
==========================================================================================-->
<section class="page_title">
   <h1 class="text-center">404 Không tìm thấy trang</h1>
</section>
<style>
   section.page_title {
       padding-top: 80px;
       padding-bottom: 80px;
       background: url("//bizweb.dktcdn.net/100/052/640/themes/134620/assets/bc_cart.jpg?1472194204996");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       position: relative;
   }
</style>
<div class="header-breadcrumb">
   <div class="container">
       <div class="row ">
           <div class="col-xs-12">
               <ol class="breadcrumb">
                   <li><a href="/" title="Trang chủ">Trang chủ </a> </li>
                   <li class="active breadcrumb-title">404 Không tìm thấy trang</li>
               </ol>
           </div>
       </div>
   </div>
</div>
<style>
   .header-breadcrumb {
       display: none;
   }
</style>
<section class="not_found">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h2 class="text-center">Lỗi không tìm thấy trang</h2>
               <p class="text-center">Xin lỗi, chúng tôi không tìm thấy kết quả nào phù hợp. Xin vui lòng trở lại trang chủ</p>
               <p class="text-center"><a href="/" class="btn btn-primary btn-not-found" title="Trang chủ">Trang chủ</a></p>
           </div>
       </div>
   </div>
</section>
<!-- ======================================================================
  /MAIN -->
        </div>
    </div>
        <!-- /SITE CONTENT -->

        <!-- SITE FOOTER-->
        <%- include('partials/brand') -%>
        <%- include('partials/footer') -%>
        <!-- /SITE FOOTER-->
    </div>
        <%- include('partials/script_end') -%>
  </body>
</html>
